BasedOnStyle: Google
ColumnLimit: 140
IndentWidth: 4
MaxEmptyLinesToKeep: 2
InsertNewlineAtEOF: true
IncludeBlocks: Merge
SpaceAfterCStyleCast: true
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignTrailingComments: true
DerivePointerAlignment: false
PointerAlignment: Right
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AccessModifierOffset: -4
BinPackParameters: OnePerLine
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
PenaltyReturnTypeOnItsOwnLine: 10000
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
PenaltyBreakAssignment: 10000
