BasedOnStyle: Google
ColumnLimit: 140
IndentWidth: 4
MaxEmptyLinesToKeep: 2
InsertNewlineAtEOF: true
IncludeBlocks: Merge
SpaceAfterCStyleCast: true
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignTrailingComments: true
DerivePointerAlignment: false
PointerAlignment: Right
